/* 
main .space{
    width:5%;
}

main .explore{
    width: 80%;
    display: flex;
    align-items: center;
    /* padding: 0rem; 
}

main .explore #column-1 {
    width: 50%; 
}


main .explore #column-1 #img-1 {
    width: 100%;
    height: 280px;
    object-fit: cover   ;
}

main .explore #column-2 {
    width: 25%;
}

main .explore #column-2 #img-2 {
    width: 100%;
    height: 175px;
    object-fit: contain;
} 

main .explore #column-3 {
    width: 25%;
 } */